
		<div class="row">
			<form name="Query"  class="form-horizontal ajax-form" method="post" action="{{urlfor "CdrController.List"}}">
				<div  >
				    开始日： <input type="input" name="begindate"  size="12" maxlength="12" value="{{.begindate}}"> 
					结束日(空为至今)：	<input type="input" name="enddate"  size="12" maxlength="12" value="{{.enddate}}">
					<label>主叫：</label>
					<input type="text"   id="caller_number" name="caller_number"  size="15" maxlength="15" value="{{.caller_number}}">
					<label    >被叫：</label>
					<input type="text"   id="callee_number" name="callee_number" size="15" maxlength="15" value="{{.callee_number}}"> 
				  <label    >IP：</label>
					<input type="text"   id="ip" name="ip" size="15" maxlength="15" value="{{.ip}}"> 
				
				 <button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>Search</button>
				</div>
			</form>
			
		</div>
		<script type="text/javascript">
				 $("input[name$='begindate']").datepicker({
					 format: "yyyy-mm-dd",
				    language: "zh-CN",
				    daysOfWeekHighlighted: "1,2,3,4,5",
				    autoclose: true,
				    todayHighlight: true
				});
				$("input[name$='enddate']").datepicker({
					 format: "yyyy-mm-dd",
				    language: "zh-CN",
				    daysOfWeekHighlighted: "1,2,3,4,5",
				    autoclose: true,
				    todayHighlight: true
				}); 
				 
		</script>
		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th width="30">ID</th> 
						<th width="50">主叫名称</th>
						<th width="50">主叫号码</th>
						<th width="120">录音文件</th>
            <th width="80">通话时间</th>
						<th width="120">ip地址</th>
						<th width="120">通话时长</th>
						 
             
					</tr>
					</thead>
				
					<tbody>
					 
					{{range  $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							
							<td>{{$v.Caller}}</td>
							 
							<td>{{$v.Callee}}</td>
							<td>{{$v.Record_file}}</td>
              <td>{{$v.Call_time}}</td>
							<td>{{$v.Ip}}</td> 
              <td>{{$v.BillSec}}</td> 
							 
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-12">{{str2html .pageBar}}</div>
		</div>