		<div class="space-4"></div>

		<div class="row">
    
      <label for="pub_dir" class="col-sm-2 control-label">工具集</label></br>
			
			<div class="col-xs-12">
				  <tr>   <td class="space-4">网络</td></br> 
             
            <td><a href="#" class="btn btn-sm btn-default"><i class="fa fa-user"></i>管理</a></td></br>  
          </tr>
			    <tr>   
            <td class="space-4">服务</td> </br>
             
            <td><a href="#" class="btn btn-sm btn-default"><i class="fa fa-user"></i>管理</a></td></br>  
          </tr>

      </div>
		</div>