
		<div class="row">
			<div class="col-xs-12">
			  <a href="{{urlfor "SipProfileController.Add"  "node_id" .node_id "node_name" .node_name }}" class="btn btn-sm btn-default"><i class="fa fa-user"></i> 新建</a>
		    <a href="{{urlfor "SipProfileController.Push"  "node_id" .node_id "node_name" .node_name }}" class="btn btn-sm btn-default"><i class="fa fa-user"></i>下发</a>
			
    	</div>
      
		</div>

		<div class="space-4"></div>

		<div class="row">
    
     <div class="col-xs-12">
         <tr>   <td class="space-4">节点名称：{{.node_name}} </td>   </tr>
      </div>
      {{$node_id := .node_id}}
      {{$node_name := .node_name}}
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>描述</th>
						<th>是否启用</th>
						<th>是否internal</th>  
						<th>是否自动加载用户数据</th>					
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					 
					{{range $k, $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>{{$v.ProfileName}}</td>
							<td>{{$v.ProfileDesc}}</td>
							<td>{{$v.Enable}}</td>
							<td>{{$v.IsInternal}}</td>
							<td>{{$v.LoadInternalUserFile}}</td>
							<td>
							<a href="{{urlfor "SipProfileController.Update" "id" $v.Id "node_id" $node_id "node_name" $node_name}}">编辑</a> | 
							<a href="{{urlfor "SipProfileController.Delete" "id" $v.Id "node_id" $node_id "node_name" $node_name}}" class="delete_confirm" onclick="if(confirm('确定删除?')==false)return false;">删除</a> | 	 
              <a href="{{urlfor "SipProfileController.Detail_list" "profile_id" $v.Id "profile_name" $v.ProfileName "node_id" $node_id "node_name" $node_name}}">明细</a>
							{{if eq $v.IsInternal false}} 
                 |<a href="{{urlfor "GatewayController.List" "profile_id" $v.Id "profile_name" $v.ProfileName "node_id" $node_id "node_name" $node_name}}">网关</a>
							
              {{end}}
              
              </td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-12">{{str2html .pageBar}}</div>
		</div>