<div class="alert alert-warning alert-dismissible hide" role="alert"></div>
		
		<form class="form-horizontal ajax-form" method="post" action="{{urlfor "NodeController.S_add"}}">
			
      <div class="col-xs-12">
         <tr> <td class="space-4"> id: {{.node_id}}</td> <td class="space-4">节点名称：{{.node_name}} </td> <td class="space-4">全局参数</td> </tr>
      </div>
			<input type="hidden"  name="node_id" id="node_id" value="{{.node_id}}"/>
      <input type="hidden"  name="node_name" id="node_name" value="{{.node_name}}"/>
      
			<div class="form-group">
				<label for="Node_name" class="col-sm-2 control-label">Key值</label>
				<div class="col-sm-3">
					<input  required="required" type="text" class="form-control" id="key" name="key">
				</div>
			</div>
			
			<div class="form-group">
				<label for="ssh_user" class="col-sm-2 control-label">Value值</label>
				<div class="col-sm-3">
					<input  required="required" type="text" class="form-control" id="value" name="value"  >
				</div>
			</div>
			 
			<div class="form-group">
				<label for="pub_dir" class="col-sm-2 control-label">说明</label>
				<div class="col-sm-3">
					<input   type="text" class="form-control" id="desc" name="desc">
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"></div>
			</div>
			  
	 
			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
					<a href="{{urlfor "NodeController.S_param_list"  "node_id" .node_id "node_name" .node_name}}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>
