
		<div class="row">
			<div class="col-xs-12">
			<a href="{{urlfor "LogFileController.Clean"  "node_id" .node_id "node_name" .node_name}}" class="btn btn-sm btn-default"><i class="fa fa-user"></i> 清理</a>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="row">
    
     <div class="col-xs-12">
         <tr>   <td class="space-4">节点名称：{{.node_name}} 日志管理 </td>   </tr>
      </div>
      {{$node_id := .node_id}}
      {{$node_name := .node_name}}
     
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>序号</th>
						<th>路径</th>
						<th>操作</th>
				</tr>
					</thead>
					<tbody>   
           		 
			         		
         {{range $k, $v := .Files}}
						<tr>
							<td class="center">{{$k}}</td>
							<td>{{$v}}</td>
							 
              <td>
  							<a href="{{urlfor "LogFileController.GetFileContent" "filename" $v "node_id" $node_id "node_name" $node_name}}">查看</a> 
  						</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
       