
		<div class="alert alert-warning alert-dismissible hide" role="alert"></div>
		
		<form class="form-horizontal ajax-form" method="post" action="{{urlfor "DialplanController.Update"}}">
			{{$node_id := .node_id}}
      {{$node_name := .node_name}}
      
      <input type="hidden"  name="node_id" id="node_id" value="{{.node_id}}"/>
      <input type="hidden"  name="node_name" id="node_name" value="{{.node_name}}"/>
      <input type="hidden"  name="id" id="id" value="{{.data.Id}}"/>
      
      <div class="col-xs-12">
         <tr>   <td class="space-4">节点名称：{{$node_name}} </td>   </tr>
      </div>
       
			<div class="form-group">
				<label for="Node_name" class="col-sm-2 control-label">序号</label>
				<div class="col-sm-3">
					<input  required="required" type="text" class="form-control" id="Dialplan_order" name="Dialplan_order" value="{{.data.Dialplan_order}}">
				</div>
			</div>
			
			<div class="form-group">
				<label for="ssh_user" class="col-sm-2 control-label">名称</label>
				<div class="col-sm-3">
					<input  required="required"  type="text" class="form-control" id="Dialplan_name" name="Dialplan_name"  value="{{.data.Dialplan_name}}">
				</div>
        <span class="lbl">不可含空格及中文字符等</span>
			</div>
      <div class="form-group">
				<label for="ssh_user" class="col-sm-2 control-label">类别</label>
				<select name="Dialplan_context">
        {{if eq .data.Dialplan_context "default"}}
						<option value="default"  selected="selected">default</option>
            <option value="public">public</option>
				{{else}}		
           <option value="default" >default</option>
            <option value="public" selected="selected">public</option>
          {{end}} 
				</select>
        
			</div>
			<div class="form-group">
				<label for="ssh_user" class="col-sm-2 control-label">描述</label>
				<div class="col-sm-3">
					<input     type="text" class="form-control" id="Dialplan_description" name="Dialplan_description" value="{{.data.Dialplan_description}}">
				</div>
        <span class="lbl">可含空格及中文字符等</span>
			</div> 
		      
			<div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label">启用</label>
				<div class="col-sm-5">
        {{if eq .data.Dialplan_enabled true}}
					<input name="Dialplan_enabled" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" value="1" checked="true">
        {{else}}
          <input name="Dialplan_enabled" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" value="1" >
        {{end}}
					<span class="lbl"></span>
				</div>
			</div>
      <div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label">呼出</label>
				<div class="col-sm-5">
        {{if eq .data.Is_nway_call_outline true}}
          <input name="Is_nway_call_outline" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" value="1"  checked="true">
        {{else}}
					<input name="Is_nway_call_outline" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" value="1">
        {{end}}
					<span class="lbl"></span>
				</div>
			</div>
      <div class="form-group">
				<label for="Node_name" class="col-sm-2 control-label">号码正则</label>
				<div class="col-sm-3">
					<input  required="required" type="text" class="form-control" id="Destination_number" name="Destination_number" value="{{.data.Destination_number}}">
				</div>
			</div>
			
			<div class="form-group">
				<label for="ssh_user" class="col-sm-2 control-label">网络正则</label>
				<div class="col-sm-3">
					<input     type="text" class="form-control" id="Network_addr" name="Network_addr"  value="{{.data.Network_addr}}">
				</div>
			</div>
			<div class="form-group">
				<label for="ssh_user" class="col-sm-2 control-label">主叫正则</label>
				<div class="col-sm-3">
					<input   type="text" class="form-control" id="Caller_id_number" name="Caller_id_number"  value="{{.data.Caller_id_number}}">
				</div>
			</div> 
			<div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label">存为xml</label>
				<div class="col-sm-5">
        {{if eq .data.Save_to_xml true}}
          <input name="Save_to_xml" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" value="1" checked="true">
				
        {{else}}
					<input name="Save_to_xml" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" value="1">
				{{end}}
        	<span class="lbl"></span>
				</div>
			</div> 
	 
			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
					<a href="{{urlfor "DialplanController.List" "node_id" $node_id "node_name" $node_name}}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>
